@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #000000;

}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
}

header a {
  padding-left: 80px;
  text-decoration: none;
  color: white;
}

header a:last-child {
  padding-right: 80px;
}

.hero-image {
    margin: 0;
    background: url('./assests/hero.jpg');
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow: inset 0px 0px 50px 40px #000000;
}

.hero-inner h1 {
  font-size:5rem;
  text-shadow: 2px 3px #000000;
}

.hero-text-secondary {
  font-size: 6rem;
}

.hero-inner {
  color: white; 
  margin: 10% 0 0 10%;
}

.hero-inner button {
  padding: 20px;
  border: 3px solid #ffffff;
  background-color: #0000003b;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.places-section {
  color: white;
  text-align: center;
  margin: 200px;
} 

.places-images-section {
    background-color: #ffffff;
    justify-content: space-around;
    margin: 20px;
}

.image-one {
  background-color: #ffffff;
}

.about-image {
  margin: 0;
  background: url('./assests/hero.jpg');
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: inset 0px 0px 50px 40px #000000;
  margin-bottom: 10px;
}

.about-inner {
  color: white; 
  margin: 10% 10% 0 10%;
  max-width: 400px;
}

.about-inner h1 {
  font-size:4rem;
  text-shadow: 2px 3px #000000;
}
.about-inner h2 {
  font-size:5rem;
  text-shadow: 2px 3px #000000;
}

.about-inner p {
  text-align: left;
}

.form-container {
  background-color: #000000;
  text-align: center;
  padding: 30px;
  color: white;
  margin: 200px;
}